body {
    background-color: #000000;
    color: #ffff00;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    text-align: center;
    text-shadow: 2px 2px #0000ff;
}

.b-properties {
    background-color: #0f0f0d;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 90%;
    color: #ff0000;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 45%;
}

.b-properties:hover {
    background-color: #ffff00;
    cursor: pointer;
}

.g-properties {
    display: grid;
    max-width: 600px;
    max-height: 600px;
    border: 2px solid #00ffff;
    margin: 120px auto;    
}

.active {
    background-image: linear-gradient(magenta, purple, magenta);
}