button {
    margin: 0;
    position: absolute;
    top: 15%;
    left: 45%;
}

.grid {
    max-width: 500px;
    max-height: 500px;
    display: grid;
    border: 2px solid #0000ff;
    margin: 2rem auto;
}

.grid_properties {
    border: 1px solid #ffffff;
    background-color: #ffffff;

}
